<app-menu></app-menu>

    <!--================Banner Area =================-->
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-center">
                    <h2>Nossa nova coleção</h2>
					<div class="page_link">
						<a [routerLink]="['']">Home</a>
						<a [routerLink]="['/collection']">Coleção</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================Home Banner Area =================-->

<section class="cat_product_area section_gap">
    <div class="container-fluid">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="product_top_bar">
                    <div class="left_dorp">
                        <select class="sorting" #selectOrdenacaoItens (change)='trocarOrdenacaoItens(selectOrdenacaoItens.value)'>
                            <option value="1">Mais relevante</option>
                            <option value="2">Menor preço</option>
                            <option value="3">Maior preço</option>
                        </select>
                    </div>
                </div>
                <div>
                    <app-all-products></app-all-products>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <div class="l_w_title">
                        <h3>Filtrar</h3>
                    </div>
                    <app-browse-categories></app-browse-categories>
                    <!-- <app-browse-brands></app-browse-brands> -->
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>