<aside class="left_widgets p_filter_widgets">
    <div class="l_w_title">
        <h3>Filtrar</h3>
    </div>
    <div class="widgets_inner">
        <h4>Marcas</h4>
        <ul class="list">
            <li>
                <a href="#">Armani</a>
            </li>
            <li>
                <a href="#">Chanel</a>
            </li>
            <li class="#">
                <a href="#">Dior</a>
            </li>
            <li>
                <a href="#">Dolce & Gabbana</a>
            </li>
            <li>
                <a href="#">Gucci</a>
            </li>
        </ul>
    </div>
</aside>