<section class="feature_product_area section_gap">
    <div class="main_box">
        <div class="container-fluid">
            <div class="row">
                <div class="main_title">
                    <h2>Produtos em Destaque</h2>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let productItem of productService.listProducts">
                    <div class="col col{{productItem.id}}">
                        <div class="f_p_item">
                            <div class="f_p_img" style="height: 200px;width: 200px;">
                                <img class="img-fluid" [src]="productItem.featuredImagePath" alt="">
                            </div>
                            <a [routerLink]="['/product',productItem.id]">
                                <h4>{{productItem.name}}</h4>
                            </a>
                            <h5>R${{productItem.price}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>