<app-menu></app-menu>

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Nova Coleção de Inverno</h2>
                <div class="page_link">
                    <a [routerLink]="['']">Home</a>
                    <a [routerLink]="['/collection']">Coleção</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Banner Area =================-->

<app-product-detail></app-product-detail>


<app-footer></app-footer>