<aside class="left_widgets cat_widgets">
    <div class="widgets_inner">
        <h4>Categorias</h4>
    </div>
    <div class="widgets_inner">
        <ul class="list">
            <li *ngFor="let categoryItem of categoryService.listCategories">
                <a (click)="filtrarPorCategoria(categoryItem.id)" onclick="return false;" href="#">{{categoryItem.name}}</a>
            </li>
            <li><a (click)="filtrarPorCategoria(0)" onclick="return false;" href="#">Todas</a></li>
        </ul>
    </div>
</aside>