<app-menu></app-menu>
<section class="login_box_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Login</h3>
                    <form class="row login_form" [formGroup]="loginForm" (ngSubmit)="submit()">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="email" name="email" formControlName="email">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" formControlName="password">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="btn submit_btn">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>