<section class="home_banner_area">
    <div class="overlay"></div>
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content row">
                <div class="offset-lg-2 col-lg-8">
                    <h3>Estilo para o
                        <br />inverno que está por vir!</h3>
                    <p></p>
                    <a class="white_bg_btn" [routerLink]="['/collection']" >Ver Coleção</a>
                </div>
            </div>
        </div>
    </div>
</section>