<app-menu></app-menu>
	
	<!--================Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="overlay"></div>
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content row">
					<div class="offset-lg-2 col-lg-8">
						<h3>Fashion for
							<br />Upcoming Winter</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                            <a class="white_bg_btn" [routerLink]="['/collection']" >Ver Coleção</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================Feature Product Area =================-->
	<section class="feature_product_area section_gap">
		<div class="main_box">
			<div class="container-fluid">
				<div class="row">
					<div class="main_title">
						<h2>Featured Products</h2>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>
				</div>
				<div class="row">
					<div class="col col1">
						<div class="f_p_item">
							<div class="f_p_img">
								<img class="img-fluid" src="../../../assets/img/product/feature-product/f-p-1.jpg" alt="">
								<div class="p_icon">
									<a href="#">
										<i class="lnr lnr-heart"></i>
									</a>
									<a href="#">
										<i class="lnr lnr-cart"></i>
									</a>
								</div>
							</div>
							<a [routerLink]="['/product',1]">
								<h4>Long Sleeve TShirt</h4>
							</a>
							<h5>$150.00</h5>
						</div>
					</div>
					<div class="col col2">
						<div class="f_p_item">
							<div class="f_p_img">
								<img class="img-fluid" src="../../../assets/img/product/feature-product/f-p-2.jpg" alt="">
								<div class="p_icon">
									<a href="#">
										<i class="lnr lnr-heart"></i>
									</a>
									<a href="#">
										<i class="lnr lnr-cart"></i>
									</a>
								</div>
							</div>
							<a [routerLink]="['/product',1]">
								<h4>Long Sleeve TShirt</h4>
							</a>
							<h5>$150.00</h5>
						</div>
					</div>
					<div class="col col3">
						<div class="f_p_item">
							<div class="f_p_img">
								<img class="img-fluid" src="../../../assets/img/product/feature-product/f-p-3.jpg" alt="">
								<div class="p_icon">
									<a href="#">
										<i class="lnr lnr-heart"></i>
									</a>
									<a href="#">
										<i class="lnr lnr-cart"></i>
									</a>
								</div>
							</div>
							<a [routerLink]="['/product',1]">
								<h4>Long Sleeve TShirt</h4>
							</a>
							<h5>$150.00</h5>
						</div>
					</div>
					<div class="col col4">
						<div class="f_p_item">
							<div class="f_p_img">
								<img class="img-fluid" src="../../../assets/img/product/feature-product/f-p-4.jpg" alt="">
								<div class="p_icon">
									<a href="#">
										<i class="lnr lnr-heart"></i>
									</a>
									<a href="#">
										<i class="lnr lnr-cart"></i>
									</a>
								</div>
							</div>
							<a [routerLink]="['/product',1]">
								<h4>Long Sleeve TShirt</h4>
							</a>
							<h5>$150.00</h5>
						</div>
					</div>
					<div class="col col5">
						<div class="f_p_item">
							<div class="f_p_img">
								<img class="img-fluid" src="../../../assets/img/product/feature-product/f-p-5.jpg" alt="">
								<div class="p_icon">
									<a href="#">
										<i class="lnr lnr-heart"></i>
									</a>
									<a href="#">
										<i class="lnr lnr-cart"></i>
									</a>
								</div>
							</div>
							<a [routerLink]="['/product',1]">
								<h4>Long Sleeve TShirt</h4>
							</a>
							<h5>$150.00</h5>
						</div>
					</div>

					<div class="col col6">
						<div class="f_p_item">
							<div class="f_p_img">
								<img class="img-fluid" src="../../../assets/img/product/feature-product/f-p-5.jpg" alt="">
								<div class="p_icon">
									<a href="#">
										<i class="lnr lnr-heart"></i>
									</a>
									<a href="#">
										<i class="lnr lnr-cart"></i>
									</a>
								</div>
							</div>
							<a [routerLink]="['/product',1]">
								<h4>Long Sleeve TShirt</h4>
							</a>
							<h5>$150.00</h5>
						</div>
					</div>

					<div class="col col7">
						<div class="f_p_item">
							<div class="f_p_img">
								<img class="img-fluid" src="../../../assets/img/product/feature-product/f-p-4.jpg" alt="">
								<div class="p_icon">
									<a href="#">
										<i class="lnr lnr-heart"></i>
									</a>
									<a href="#">
										<i class="lnr lnr-cart"></i>
									</a>
								</div>
							</div>
							<a [routerLink]="['/product',1]">
								<h4>Long Sleeve TShirt</h4>
							</a>
							<h5>$150.00</h5>
						</div>
					</div>

					<div class="col col8">
						<div class="f_p_item">
							<div class="f_p_img">
								<img class="img-fluid" src="../../../assets/img/product/feature-product/f-p-5.jpg" alt="">
								<div class="p_icon">
									<a href="#">
										<i class="lnr lnr-heart"></i>
									</a>
									<a href="#">
										<i class="lnr lnr-cart"></i>
									</a>
								</div>
							</div>
							<a [routerLink]="['/product',1]">
								<h4>Long Sleeve TShirt</h4>
							</a>
							<h5>$150.00</h5>
						</div>
					</div>
					<div class="col col9">
						<div class="f_p_item">
							<div class="f_p_img">
								<img class="img-fluid" src="../../../assets/img/product/feature-product/f-p-1.jpg" alt="">
								<div class="p_icon">
									<a href="#">
										<i class="lnr lnr-heart"></i>
									</a>
									<a href="#">
										<i class="lnr lnr-cart"></i>
									</a>
								</div>
							</div>
							<a [routerLink]="['/product',1]">
								<h4>Long Sleeve TShirt</h4>
							</a>
							<h5>$150.00</h5>
						</div>
					</div>
					<div class="col col10">
						<div class="f_p_item">
							<div class="f_p_img">
								<img class="img-fluid" src="../../../assets/img/product/feature-product/f-p-4.jpg" alt="">
								<div class="p_icon">
									<a href="#">
										<i class="lnr lnr-heart"></i>
									</a>
									<a href="#">
										<i class="lnr lnr-cart"></i>
									</a>
								</div>
							</div>
							<a [routerLink]="['/product',1]">
								<h4>Long Sleeve TShirt</h4>
							</a>
							<h5>$150.00</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Feature Product Area =================-->

	<!--================ Subscription Area ================-->
	<section class="subscription-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="section-title text-center">
						<h2>Subscribe for Our Newsletter</h2>
						<span>We won’t send any kind of spam</span>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div id="mc_embed_signup">
						<form target="_blank" novalidate action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01"
						 method="get" class="subscription relative">
							<input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
							 required="">
							<!-- <div style="position: absolute; left: -5000px;">
								<input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
							</div> -->
							<button type="submit" class="newsl-btn">Get Started</button>
							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Subscription Area ================-->

	<app-footer></app-footer>