<app-menu></app-menu>
<!--================Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Nova Coleção de Inverno</h2>
                <div class="page_link">
                    <a [routerLink]="['']">Home</a>
                    <a [routerLink]="['/collection']">Carrinho</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Banner Area =================-->


<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Produto</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Quantidade</th>
                            <th></th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.currentCart">
                            <td>{{item.name}}</td>
                            <td>
                                <h5>R$ {{item.price}}</h5>
                            </td>
                            <td colspan="2">
                                <h5>{{item.quantity}}</h5>
                            </td>
                            <td>
                                <h5>R$ {{ item.price * item.quantity }}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>R$ {{ this.subTotal }}</h5>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="checkout_btn_inner">
                                    <a class="gray_btn" [routerLink]="['/collection']">Continuar comprando</a>
                                    <a class="main_btn" [routerLink]="['/checkout']">Ir para checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>