<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="brand-link" style="background-color: white;">
      <img src="/assets/img/logo.png" alt="Fashiop"
        style="opacity: .8">
    </a>
  
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info" style="background-color: #343a40;color:white">
            <span class="d-block">Alexander Pierce</span>
          </div>
      </div>  
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a [routerLink]="['/dashboard']" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-header">GESTÃO PRODUTOS</li>
          <li class="nav-item has-treeview">
            <a [routerLink]="['/categorias']" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-sitemap"></i>
              <p>
                Categorias
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a [routerLink]="['/produtos']" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-drumstick-bite"></i>
              <p>
                Produtos
              </p>
            </a>
          </li>
  
        </ul>
      </nav>
      <nav>
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <a href="/">Sair</a>
        </div>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>